<mat-sidenav-container class="map-container">
  <mat-sidenav mode="side" opened>
    <mat-selection-list
      [(ngModel)]="spatialsSelected"
      (ngModelChange)="spatialsSelectedChange($event)">
      <mat-list-option *ngFor="let spatial of spatials"
        [value]="spatial"
        checkboxPosition="before">
        {{ spatial.name }}
      </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <mat-list>
        <mat-list-item>
          <mat-checkbox
            [(ngModel)]="showSocial"
            (change)="showSocialChange()">
            Social
          </mat-checkbox>
        </mat-list-item>
      </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom">

      <agm-marker
        [latitude]="lat"
        [longitude]="lng">
      </agm-marker>

      <ng-container *ngIf="showSocial && social">
        <ng-container *ngFor="let status of social.statuses">
          <ng-container *ngIf="status.geo">
              <agm-marker
                [latitude]="status.geo.coordinates[0]"
                [longitude]="status.geo.coordinates[1]"
                (markerClick)="clickSocialMarker(status)"
                [markerClickable]="true"
                iconUrl="assets/swimming.png">
                <agm-info-window>
                  <p>{{ status.text }}</p>
                  <p>Posted by {{ status.user.screen_name }} at  {{ status.created_at }}</p>
                  <p>
                    <a
                      mat-raised-button
                      href="https://twitter.com/{{ status.user.screen_name }}/status/{{ status.id_str }}">
                      See Tweet
                    </a>
                  </p>
                </agm-info-window>
            </agm-marker>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngFor="let spatial of spatialsSelected">
        <agm-data-layer
          *ngIf="spatial.data"
          [geoJson]="spatial.data"
          (layerClick)="clickDataLayerMarker($event)"
          [style]="getStyle">
        </agm-data-layer>
      </ng-container>

      <agm-info-window
        [latitude]="infoWindowLat"
        [longitude]="infoWindowLng">
        <div *ngIf="infoWindowProperties" class="info-window-inner">
          <div *ngFor="let key of infoWindowPropertyKeys">
            <p *ngIf="infoWindowProperties[key] && infoWindowProperties[key] !== ''">
              {{ key }}: {{ infoWindowProperties[key] }}
            </p>
          </div>
          <button
            mat-raised-button
            (click)="clickReport()">
            Report
          </button>
        </div>
      </agm-info-window>
    </agm-map>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="spinner-wrapper" *ngIf="isLoading">
  <mat-progress-spinner
    mode="indeterminate">
  </mat-progress-spinner>
</div>
