<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom">

  <agm-marker
    [latitude]="lat"
    [longitude]="lng">
  </agm-marker>

  <agm-data-layer
    *ngIf="geoJsonObject"
    [geoJson]="geoJsonObject"
    (layerClick)="clickDataLayerMarker($event)"
    [style]="getStyle">
  </agm-data-layer>

  <agm-info-window
    [latitude]="infoWindowLat"
    [longitude]="infoWindowLng">
    <div *ngIf="infoWindowProperties" class="info-window-inner">
      <div *ngFor="let key of infoWindowPropertyKeys">
        <p *ngIf="infoWindowProperties[key] && infoWindowProperties[key] !== ''">
          {{ key }}: {{ infoWindowProperties[key] }}
        </p>
      </div>

      <button
        mat-raised-button
        (click)="clickReport()">
        Report
      </button>
    </div>
  </agm-info-window>

</agm-map>

<div class="spinner-wrapper" *ngIf="isLoading">
  <mat-progress-spinner
    mode="indeterminate">
  </mat-progress-spinner>
</div>
