h1 {
  margin: 15px;
  font: 400 34px/40px Roboto,"Helvetica Neue",sans-serif;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

::ng-deep .mat-card {
  margin: 10px;
  width: 300px;
}

.button-container {
  display: flex;
  width: 320px;
  justify-content: space-evenly;
}

/* main {
  padding-bottom: 20px;
}

section {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

::ng-deep
.mat-card-content {
  margin-top: 10px !important;

}

::ng-deep
.mat-card-header-text {
  margin: 0 !important;
}

::ng-deep
.mat-grid-tile .mat-figure {
  align-items: flex-start !important;
}

.button-container {
  display: flex;
  width: 320px;
  justify-content: space-evenly;
} */
