<main>
  <h1 class="mat-display-1">Tools</h1>
  <section>
    <div class="button-container">
      <button mat-raised-button
        color="primary"
        (click)="openAddForm()">
        Add Tool
      </button>
      <button mat-raised-button
        color="primary"
        (click)="openSearchForm()">
        <mat-icon>search</mat-icon> Search
      </button>
    </div>
  </section>
</main>

<div class="card-wrapper">
  <mat-card *ngFor="let tool of tools"
    class="tools-card">
    <mat-card-header>
      <mat-card-title>
        {{ tool.name }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>{{ tool.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button
        [href]="tool.url"
        color="primary">
        View Resource
      </a>
    </mat-card-actions>
  </mat-card>
</div>
