<main>
  <h1 class="mat-display-1">Tools</h1>
  <section>
    <div class="button-container">
      <button mat-raised-button
        color="primary"
        (click)="openAddForm()">
        Add Tool
      </button>
      <button mat-raised-button
        color="primary"
        (click)="openSearchForm()">
        <mat-icon>search</mat-icon> Search
      </button>
    </div>
  </section>
  <mat-grid-list cols="3"
    rowHeight="150px"
    gutterSize="15px">
    <mat-grid-tile *ngFor="let tool of tools"
      [colspan]=1
      [rowspan]=2
      [style.border]="'1px solid lightgray'">
      <h3><a [href]="tool.url">{{ tool.name }}</a></h3>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Description
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>{{ tool.description }}</p>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-grid-tile>
  </mat-grid-list>
</main>
