h1 {
  color: white;
  font-family: "Helvetica";
  font-size: 52px;
  text-shadow: 1px 1px black;
}

section {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 25px;
}

.hero {
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 100%;
  position: relative;
}

.hero::after {
  content: "";
  background: url(../../assets/flooding.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
